body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  border-radius: 25px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;   
    color: #E5E7EB; 
    font-size: 18px;
}

.header {
    display: flex;
    padding: 16px;
    background-color: #1F2937;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.placeholder {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 460px;
    height: 212px;
}

.hero {
    display: flex;
    justify-content: space-around;
    gap: 42px;
    background-color: #1F2937;
    padding: 100px;
    margin: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 460px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 6px;
    padding: 6px 24px;
    color: white;
    border: 0;
    margin-top: 8px;
}

.footer {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 28px;
    background-color: #1F2937;
}

.mid-section {
    background-color: white;
    text-align: center;
}

.mid-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 80px;
}

.info {
    max-width: 150px;
}

.square {
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    outline: 5px solid #3882F6;
    margin-bottom: 10px;
}

.quote {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 500px;
    margin: auto;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.thor {
    display: flex;
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    margin-left: auto;
}

.cta {
    display: flex;
    background-color: #3882F6;
    width: 800px;
    height: 100px;
    border-radius: 6px;
    color: white;
    padding: 20px 100px;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

.cta-title {
    font-weight: bold;
    font-size: larger;
}

.cta-button {
    border: solid 2px white;
}

.cta-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}